<div class="flex">
	<div class="col">
		<h1 ng-bind="vm.azienda.nome"></h1>
		<img src="{{vm.azienda.logoUrl}}">
		<span ng-bind="vm.azienda.mail"></span>
		<span ng-bind="vm.azienda.sito"></span>
	</div>
	<div class="col">
		<input type="text" ng-model="vm.aziendaN.nome" placeholder="{{vm.azienda.nome}}">
		<input type="text" ng-model="vm.aziendaN.mail" placeholder="{{vm.azienda.mail}}">
		<input type="text" ng-model="vm.aziendaN.sito" placeholder="{{vm.azienda.sito}}">
		<button class="btn btn-primary" ng-click="vm.cambiare(vm.aziendaN);">Salva</button>
	</div>
</div>