<nav-menu></nav-menu>
<div class="wrap-container">
	<div class="container-fluid body-wrap">
		<div class="row">
			<center>
				<h1>Benvenuto</h1>
				<h3>sulla piattaforma di commercio elettronico Agro.it!</h3>
				<button class="btn btn-info">Registrare</button>
			</center>
		</div>
	</div>
</div>
<div class="container-fluid cont_1-wrap">
	<div class="row flex">
		<div class="cont_1-h">
			<h1>I vostri vantaggi</h1>
			<h3>di lavorare sul posto Agro.it</h3>
		</div>
	</div>
	<div class="row flex">
		<div class="cont_1-r flex">
			<center class="p1"><p>Soglia di Luce<br>ingresso</p></center>
			<center class="p2"><p>Opzionale l'uso della<br>firma elettronica</p></center>
			<center class="p3"><p>Processi trasparenti<br>di gare e appalti</p></center>
			<center class="p4"><p>Risparmi<br>soldi</p></center>
			<center class="p5"><p>Risparmi<br>tempo</p></center>
			<center class="p6"><p>Sicurezza</p></center>
		</div>
	</div>
</div>
<div class="container-fluid cont_2-wrap">
	<div class="row flex">
		<div class="cont_2-h">
			<h1>Come funziona</h1>
			<h1>piattaforma</h1>
		</div>
	</div>
	<div class="row flex">
		<div class="cont_2-r flex">
			<center class="d1"><p>Si posiziona<br>richiesta</p></center>
			<center class="d2"><p>Si ottiene<br>offerta</p></center>
			<center class="d3"><p>Si sceglie<br>condizioni migliori</p></center>
			<center class="d4"><p>Concludi<br>affare</p></center>
		</div>
	</div>
</div>