<!-- <button type="button" ng-click="vm.getUsers();" name="button">getUser</button> -->
<span ng-init="vm.getUsers();" ></span>
<button ng-click="vm.sortBy('id');">id</button>
<button ng-click="vm.sortBy('nome');">nome</button>
<button ng-click="vm.sortBy('cognome');">cognome</button>
<button ng-click="vm.sortBy('mail');">mail</button>
<button ng-click="vm.sortBy('citta');">citta</button>
<button ng-click="vm.sortBy('age');">age</button>
<table class="table table-bordered table-striped table-condensed table-responsive">
	<thead>
		<tr>
			<th>
  			id 
			</th>
			<th>
  			nome
			</th>
			<th>
				cognome
			</th>
			<th>
  			mail
			</th>
			<th>
				città
			</th>
			<th>
				age
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in vm.users | orderBy:vm.sortParam:vm.reverse" >
			<td ng-bind="user.id">
			</td>
			<td ng-bind="user.nome">
			</td>
			<td ng-bind="user.cognome">
			</td>
			<td ng-bind="user.mail">
			</td>
			<td ng-bind="user.citta">
			</td>
			<td ng-bind="user.age">
			</td>
		</tr>
	</tbody>
</table>
